:root {
  --primary: #eea47f;
  --secondary: #00359c;
  --accent: #bde9fb;
  --accent2: #d0e0cd;
  --text: #fff;
  --text2: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: #000;
}

body {
  margin: auto;
  width: 100%;
  position: relative;
  background: var(--accent);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}


/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 80px;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fcfcfc;
}

#navbar-logo {
  width: 100px;
  height: 75px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 50%;
}

.nav-links-container {
  display: flex;
  list-style: none;
}

.links {
  text-decoration: none;
  color: #000;
  margin: 0 5px;
  padding: 10px;
  text-transform: capitalize;
  font-size: 1rem;
  opacity: 0.5;
  transition: 0.5s;
}

.links-active,
.links:hover {
  opacity: 1;
  border-bottom: 3px solid black;
}


/* SECTION 1 */

.header {
  width: 100%;
  height: 60vh;
  padding: 0 10vw;
  max-width: 75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.home-heading {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.home-heading .intro-name {
  display: block;
  text-transform: capitalize;
  font-size: 5rem;
  margin: 10px 0;
  font-weight: 400;
}

.intro-name span {
  color: #eea47f;
}

.btn {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background: var(--accent2);
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 30px;
  text-transform: capitalize;
  transition: 0.5s;
  margin-right: 20px;
  box-shadow: #000;
}

.profile-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-img {
  position: absolute;
  top: 70%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #d0e0cd;
  margin-left: 20px;
  position: relative;
  user-select: none;
}

.circle::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
  border: 10px solid #fff;
  border-radius: 50%;
}


/* About section styling */

#about-section {
  position: relative;
  padding: 100px 10vw;
}

.heading {
  text-align: center;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 5rem;
}

.about-container {
  width: 100%;
  margin: 50px 0 100px;
  display: flex;
  gap: 100px;
}

.image-container {
  width: 40%;
  position: relative;
}

.about-img {
  width: 90%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
  margin: 10px auto;
  border-radius: 10px;
}

.square {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: #eea47f;
  position: absolute;
  right: 10px;
  top: -30px;
  z-index: -1;
  transform: rotate(45deg);
}

.social-links {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-img {
  width: 60px;
  height: 50px;
  opacity: 0.5;
  margin-right: 20px;
  transition: 0.5s;
}

.social-img:hover {
  opacity: 1;
}

.info {
  width: 50%;
}

.info p {
  line-height: 2rem;
  margin: 30px 0;
  font-size: 1.3rem;
}


/* Skills section */

#skills {
  width: 100vw;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem auto;
  overflow: hidden;
}

.skills-heading {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  padding-top: 1rem;
  text-transform: capitalize;
}

.skill-wrapper {
  display: flex;
  flex-direction: row;
}

.skill-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  background: #fff;
  color: var(--primary);
}

.skill-name {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}

.skill-container:hover {
  color: #000;
}

.lang-logo {
  display: none;
  object-fit: cover;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.skill-container:hover .lang-logo {
  display: block;
}


/* Projects Section */

#projects-section {
  position: relative;
  margin: 10px 0;
  padding: 0 0 10rem 0;
}

.projects-section-header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 5rem 0 2% 0;
}

.grid-container {
  display: flex;
  width: 80%;
  max-width: 80rem;
  justify-content: center;
  justify-items: center;
  margin: auto;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 2rem auto;
  margin-bottom: 5rem;
  justify-content: center;
  align-items: center;
}

.project-tile {
  background: #00359c;
  height: 150px;
  width: 200px;
  box-shadow: 1px 1px 2px #000;
  border-radius: 5px;
  place-self: center;
  border-collapse: collapse;
}

.project-name {
  color: var(--text);
  border-radius: 2px;
  margin: 1rem;
}

.projects-intro-p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
}


/*
.projects-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  justify-content: center;
}

.projects-card {
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: flex;
  background: #d0e0cd;
  transition: .5s;
  border-radius: 10px;
  position: relative;
}

.projects-thumbnail {
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  cursor: pointer;
  display: none;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-card:active {
  border: 2px solid var(--text2);
}

.project-wrapper {
  transition: 1s;
}

.projects-card.blur {
  filter: blur(5px);
}

.projects-card:active .projects-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: var(--primary);
}

.projects-card.active .projects-thumbnail {
  width: 300px;
  height: 300px;
}

.projects-card.active .close-btn {
  display: block;
}

.projects-card.active .tags {
  position: absolute;
  bottom: 10px;
  z-index: 2;
  left: 10px;
  color: #fff;
  opacity: .9;
}

.project-body {
  display: none;
}

.projects-card.active .project-body {
  display: block;
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  border: 1px solid #cecece;
}

.project-name {
  font-size: 2rem;
  font-weight: 300;
  text-transform: capitalize;
}

.project-details {
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0;
}

.project-body .btn {
  display: inline-block;
  margin-top: 10px;
  margin-right: 5px;
  padding: 10px 20px;
} */


/* Contact section */

#contact-section {
  margin: 0 auto;
  max-width: 75rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75rem;
  max-width: 50rem;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 5rem;
}

.name,
.email,
.message {
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: #eea47f;
  color: #000;
  font-size: medium;
  font-family: "Montserrat", sans-serif;
}

.contact-btn {
  padding: 10px 20px;
  background: var(--text);
  color: var(--primary);
  border: none;
  outline: none;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5rem;
  margin: 1rem 0 2rem 0;
  width: 20%;
  align-self: center;
}

.contact-btn:hover {}


/* FOOTER STYLING */

footer {
  display: flex;
  justify-content: center;
}

.legal {
  text-align: center;
  margin-bottom: 1rem;
  font-size: medium;
}